dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

_cache/
_site/

macos11ghcwa.dylib
stack.yaml.lock
stack.yaml
.DS_Store
marinaaoki-github-io.cabal

site.hs
about.rst
contact.markdown
index.html

css/
images/
posts/
templates/

README.md
